In [1]:
# Add the Pandas dependency.
import pandas as pd

In [4]:
# Files to load
student_data_to_load = "Resources/students_complete.csv"

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Put the student names in a list.
student_names = student_data_df["student_name"].tolist()
student_names

NameError: name 'student_data_df' is not defined